<div class="page-Section page-Section_title">
  <h1 class="page-Title">
    Register or Login
  </h1>
</div>
<div class="page-Section_half-wrapper">
  <div class="page-Section page-Section_half page-Section_half-left">
    <form>
      <div class="page-formContainer page-registerContainer">
        <h1 class="center">Register</h1>
        <input type="email" placeholder="E-Mail" name="email" class="email-input" required>
        </br>
        <input type="password" placeholder="Password" name="password" class="password-input" required>
        </br>
        <button type="submit" class="register-button inverse orange">Register</button>
      </div>
    </form>
  </div>
  <div class="page-Section page-Section_half page-Section_half-right">
    <form>
      <div class="page-formContainer page-loginContainer">
        <h1 class="center">Login</h1>
        <input type="email" placeholder="E-Mail" name="email" class="email-input" required>
        <input type="password" placeholder="Password" name="password" class="password-input" required>
        </br>
        <button type="submit" class="login-button inverse green">Login</button>
      </div>
    </form>
  </div>
</div>
