<div class="page-card page-card_message-card page-card_message-card_delete hidden">
  <h2>Are you sure you want to delete
    <b>
      <span class="card-usermail"></span>
    </b>?</h2>
  <p class="page-card_message-card_text">Please type in the mail address of the user to confirm.</p>
  <input type="text" class="page-card_confirm-usermail" autofocus>
  <button type="button" name="save" class="card-form_button_save card-form_button_delete red" disabled>Delete</button>
  <button type="button" name="cancel" class="card-form_button_cancel">Cancel</button>
</div>
