$background-main: #528c6f;
$background-second: #FEE2D0;
$color-highlight: #297b52;
$color-highlight-alt: #D95753;
$color-error: #d32f2f;
$color-error-two: #fff;
$color: #0A0001;
$color-bright: #fff;
$color-dim: #ccc;
$button-color: #607D8B;
$button-inverse: #fff;
$button-green-color: #297b52;
$button-green-inverse: #fff;
$button-red-color: #DD2C00;
$button-red-inverse: #fff;
$button-blue-color: #277A8E;
$button-blue-inverse: #fff;
$button-purple-color: #d89c03;
$button-purple-inverse: #fff;
$button-orange-color: #d89c03;
$button-orange-inverse: #fff;
$dark-theme-color: #fff;
$light-theme-color: #000;
$gray: #666;
$color-placeholder: rgb(80%, 80%, 80%);

$color-button: #607D8B;
$JavaScript: #FFC107;
$PHP: #4CAF50;
$Ruby: #d32f2f;
$Python: #2196F3;

$phone: "(max-width: 1023px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
