//Enduring CSS selectors with ECSS
//Colorful variant

@import "variables";

html {
  box-sizing: border-box;
  color: $light-theme-color;
  font-size: 100%;

  @media #{$phone} {
    font-size: 150%;
  }

  &.dark {
    color: $dark-theme-color;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background-main;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  font-weight: 400;
}

a {
  color: inherit;
  
  &:visited {
    color: inherit;
  }
}

img {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  -o-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  -o-animation-duration:1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay:.1s;
  -moz-animation-delay:.1s;
  -o-animation-delay:.1s;
  animation-delay:.1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.button {
  cursor: pointer;
  width: 20px;
  height: 20px;

  &:hover {
    color: $button-blue-color;
  }

  @media #{$phone} {
    width: 63px;
    height: 63px;

    &:before {
      height: 90px;
      font-size: 200%;
    }
  }

  &.item_save-button {
    display: none;
  }
}

button {
  cursor: pointer;
  margin: 10px;
  border: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 110%;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  outline:none;
  background: $button-inverse;
  color: $button-color;
  border: 2px $button-color solid;

  @media #{$phone} {
      height: 90px;
      font-size: 150%;
    }

  &:disabled {
    background: #ddd !important;
    border-color: #aaa !important;
    color: #aaa !important;
  }

  &:hover {
    color: $button-inverse;
    // border: 2px $button-inverse solid;
    background: $button-color;
  }

  &.green, &.green.inverse:hover {
    background: $button-green-inverse;
    color: $color-highlight;
    border: 2px $color-highlight solid;
  }
  &.green:hover, &.green.inverse {
    background: $color-highlight;
    color: $button-green-inverse;
    // border: 2px $button-green-inverse solid;
  }

  &.red, &.red.inverse:hover {
    background: $button-red-inverse;
    color: $button-red-color;
    border: 2px $button-red-color solid;
  }

  &.red:hover, &.red.inverse {
    background: $button-red-color;
    color: $button-red-inverse;
    // border: 2px $button-red-inverse solid;
  }

  &.blue, &.blue.inverse:hover {
    background: $button-blue-inverse;
    color: $button-blue-color;
    border: 2px $button-blue-color solid;
  }

  &.blue:hover, &.blue.inverse {
    background: $button-blue-color;
    color: $button-blue-inverse;
    border: 2px $button-blue-inverse solid;
  }

  &.purple, &.purple.inverse:hover {
    background: $button-inverse;
    color: $background-main;
    border: 2px $background-main solid;
  }

  &.purple:hover, &.purple.inverse {
    background: $background-main;
    color: $button-inverse;
    border: 2px $button-inverse solid;
  }

  &.orange, &.orange.inverse:hover {
    background: $button-orange-inverse;
    color: $button-orange-color;
    border: 2px $button-orange-color solid;
  }

  &.orange:hover, &.orange.inverse {
    background: $button-orange-color;
    color: $button-orange-inverse;
    border: 2px $button-orange-inverse solid;
  }
}

input {
  text-align: center;
  color: #000;

  &.uppercase {
    text-transform: uppercase;
  }

  @media #{$phone} {
    border: 1px solid grey;
  }
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  cursor: initial;
}

.center {
  text-align: center;
}

.page-Header {
  width: 100%;
  height: 50px;
  background: $color-bright;
  vertical-align: middle;
  line-height: 1.5;
  z-index: 2;
  top: 0;
  position: absolute;
  padding-left: 15vw;
  padding-right: 15vw;
  box-sizing: border-box;

  @media #{$phone} {
    height: 80px;
  }
}

.page-Header a {
  text-decoration: none;

}

.page-Header_title {
  font-weight: 700;
  margin-top: 3px;
  float: left;
  color: $color-highlight;
  font-family: 'Source Sans Pro', sans-serif;
}

.page-Header_menu {
  float: right;
  font-size: 110%;
  margin-top: 10px;
  user-select: none;

  li {
    list-style-type: none;
    display: block;
    float: left;
    margin-right: 10px;
  }
  a, .page-Clickable {
    &:hover {
      color: #4DB6AC;
    }
  }
}

.page-Section .page-Title, .page-Section .page-Title h1 {
  // color: #000;
}

.page-Section {
  width: 100%;
  min-height: 100px;
  position: relative;
  text-align: center;
  padding: 30px 15vw 30px 15vw;
  color: #fff;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;

  @media #{$phone} {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
  }

  h1 {
    color: $dark-theme-color;
  }
}

.page-Section_white {
  padding-top: 20px;
  background: #fff;
  color: #000;

  h1 {
    color: inherit;
  }
}

.page-Section_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-Section_fullwidth {
  padding: 0;
  width: 100vw;
}

.page-Section_half-wrapper {
  @media #{$phone} {
    display:flex;
    flex-flow: column;
    margin-bottom: 30px;
  }
}

.page-Section_half {
  width: 50vw;
  padding: 40px;
  padding-bottom: 80px;
  float: left;
  display: block;
  @media #{$phone} {
    width: 85vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 !important;
    text-align: center !important;
    margin-bottom: 50px;
  }
}

.page-Section_half-left {
  text-align: right;
  padding-left: 70px;
  @media #{$phone} {
    order:2;
  }
}

.page-Section_half-right {
  text-align: left;
  padding-right: 70px;
  @media #{$phone} {
    order:1;
  }
}

.page-Section_title {
  margin-top: 50px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  font-size: 140%;
}

.page-footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: $color-bright;
  font-size: 110%;
  font-weight: 200;
  position: fixed;
  bottom: 0;
  background-color: $background-main;
}

.page-footer a {
  color: $color-bright;
  text-decoration: none;
  font-weight: 400;
}

.page-footer_link {
  margin-left: 20px;
}

.page-Flash {
  width: 100vw;
  height: 40px;
  background: #049;
  color: #fff;
  font-size: 110%;
  font-weight: 600;
  position: absolute;
  top: 50px;
  z-index: 1;
  padding-left: 15vw;
  padding-right: 15vw;
  box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15vw;
  display: none;
  align-items: center;

  @media #{$phone} {
    top: 80px;
  }

  &.page-Flash-success {
    background: #66BB6A;
  }

  &.page-Flash-error {
    background: #b71c1c;
  }
}

.page-optionDropdown {
  text-align: left;
  display: inline;
  margin: 0;
  padding-left: 0;
  list-style: none;
  @media #{$phone} {
    padding: 0;
  }

  .page-optionDropdown_top {
    font-size: 120%;
    padding: 10px;
    @media #{$phone} {
      padding: 0;
    }
  }

  li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
  }

  .page-optionDropdown_menu {
    padding: 0;
    position: absolute;
    top: 45px;
    left: -1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
    z-index: 3;

    li {
      background: $color-highlight;
      display: block;
      color: #fff;
    }
  }

  li ul li:hover {
    background: $color-highlight-alt;
  }

  li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.fa {
  font-size: 90%;
}
.page-formContainer {
  text-align: center;
  height: 300px;
  width: 400px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.27), 0 6px 6px rgba(0, 0, 0, 0.30);

  @media #{$phone} {
    width: 100%;
    height: 415px;
  }

  h1 {
    color: #000;
  }

  input {
    width: 80%;
    height: 54px;
    margin-bottom: 10px;
    text-align: left;
    padding: 20px;
    border: none;
    background: #eee;

    @media #{$phone} {
      height: 70px;
    }
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $color-placeholder;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $color-placeholder;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $color-placeholder;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $color-placeholder;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:    $color-placeholder;
  }

  button {
    width: 80%;
  }
}

.page-loginContainer {
  float: left;
}

.page-registerContainer {
  float: right;
}

.page-card {
  width: 45vw;
  min-width: 633px;
  background-color: $dark-theme-color;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;

  @media #{$phone} {
    width: 90vw;
  }
}

.card-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content:flex-end;
  grid-gap: 10px;

  input {
    border: 1px solid grey;
  }
}

.card-form_item {
  width: 100%;

  &.card-form_item-title {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 500;
    margin-top: 20px;
  }
}

.card-form_restart-form {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
}

.card-form_restart-select {
  margin: 0 10px 0 20px;
}

.card-form_restart-select-label {
  text-align: left;
  font-size: 90%;
}

.card-form-url {
  width: 100%;
}

.card-form_restart_bash, .card-form_restart_jenkins {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  display: none;

  label, input, textarea {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}

.card-form_subtitle {
  font-weight: 500;
  width: 100%;
  display: block;
  margin: 20px 0;
}

.page-card_confirm-name, .page-card_confirm-usermail {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.page-userOverview {
  font-size: 150%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  grid-column-gap: 40px;
  grid-row-gap: 15px;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  width: 60vw;

  @media #{$phone} {
    width: 95vw;
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
  }
}

.page-button_user_remove_provisional {
  width: 300px;
  margin-bottom: 40px;

  @media #{$phone} {
    width: 95vw;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

@media #{$phone} {
  .page-userOverview_item_options {
    height: 85px;
    border-bottom: 1px solid grey;
  }

  [class~='page-userOverview_item_options']:last-of-type {
    border: 0px;
    margin-bottom: 40px;
  }
}

.page-userOverview_item:nth-child(-n+3) {
  @media #{$phone} {
    display: none;
  }
}

.page-userOverview_item {
  min-width: 51px;
}

.page-userOverview_item_data {
  display: none;
}

.page-userOverview_item_roles {
  min-width: 200px;
}

.page-userOverview_item_options {
  // margin-left: 30px;
  height: 33px;
}

@media #{$phone} {
  .page-userOverview_item_options {
    height: 85px;
    border-bottom: 1px solid grey;
  }

  [class~='page-userOverview_item_options']:last-of-type {
    border: 0px;
    margin-bottom: 40px;
  }
}

.page-Header_menu li.menu-item {
  cursor: pointer;
  text-decoration: underline;
}

.tooltip {
  position: relative;
  text-decoration: none;
}

.tooltip:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: 103%;
  background: white;
  padding: 5px 15px;
  color: $button-red-color;
  border: 1px solid $button-red-color;
  -webkit-border-radius: 10px;
  -moz-border-radius : 10px;
  border-radius : 5px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition : all 0.4s ease;
  transition : all 0.4s ease;

  @media #{$phone} {
    bottom: -100px;
    left: -195px;
  }
}

.tooltip:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid #ffcb66;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition : all 0.4s ease;
  transition : all 0.4s ease;
  opacity: 0;
  left: 30%;
  bottom: 90%;
}
.tooltip.visible:after {
  @media #{$phone} {
    bottom: -58px;
  }
}
.tooltip.visible:before {
  bottom: 70%;
}
.tooltip.visible:after {
  opacity: 1;
}

.tooltip-hover {
  &:after {
    content: "Status: " attr(data-statusCode);
    background: $button-color;
    color: $button-inverse;
    font-size: 70%;
    bottom: -38px;
    left: 55%;
    width: 107px;
    height: 32px;
    display: none;
  }
  &:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 6px;
    bottom: -6px;
    left: 58%;
    border-top: none;
    border-bottom: 8px solid $button-color;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: none;
  }
  &:hover {
    &:after {
      opacity: 1;
      display: block;
    }
    &:before {
      opacity: 1;
      display: block;
    }
  }
}

.modal-header {
  min-height: 55px;

  .modal-title {
    float: left;
    font-size: 150%;
  }

  .close {
    margin-top: 3px;
  }
}
