<div class="page-Section page-Section_white page-Section_title">
  <h1 class="page-Title">
    Home
  </h1>
</div>
<div class="page-Section page-Section_white">
  <div class="chat">
    <div class="chat-Messages"></div>
    <div class="chat-Textarea">
      <input class="chat-Textarea-input">
    </div>
  </div>
</div>
</br>
