<div class="page-Section page-Section_title">
  <h1 class="page-Title">
    Settings
  </h1>
</div>
<div class="page-Section page-Section_fullwidth page-Section_white page-Section_usersettings">
  <form class="userSettings-Form" action="/user/update" method="POST">
    <div class="form-group">
      <label for="userEmailInput">Email address</label>
      <input type="email" class="form-control" id="userEmailInput" aria-describedby="emailHelp" placeholder="Enter email" name="email"
        value="{{user.email}}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="userNameInput">Name</label>
      <input type="text" class="form-control" id="userNameInput" placeholder="Name" name="name" value="{{user.name}}">
    </div>
    <input type="hidden" name="uid" id="uid" value="{{user.uid}}">
    <button type="submit" class="page-button_user_settings green" id="userUpdateBtn">Save</button>
  </form>
  <button type="button" name="button" class="page-button_user_settings red" id="userDeleteBtn" data-toggle="modal" data-target="#exampleModal">Delete Account</button>
</div>
{{>confirm_delete_own_user}}
